
@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

h1 {
  font-family: "Afacad Flux";

}

p {
  font-family: "Afacad Flux";

}
.content {
  flex: 1;
}

footer {
  padding: 1rem;
  text-align: center;
  position: relative;
}
nav {
  font-family: "Afacad Flux";

}
.navbar {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  filter: invert(1);
}

nav .text-white {
  color: white;
  transition: color 0.3s ease;
}

nav .navbar-link{
  font-size: larger;
}
nav .logo-text{
  color: white;
  margin-left: 15px;
}

nav .text-white:hover {
  color: #4571bd;
  border-bottom: white 3px solid;
}

nav .logo-text:hover{
  border-bottom: none;
  color: white;
  transition: 0.1s ease;
}
nav img:hover {
  scale: 1.16;
  transition: 0.3s ease;

}

.rounded-lg {
  border-radius: 1rem;
}

#flash-alert {
  animation: slide-in 0.5s ease forwards;
  opacity: 1;
}

@keyframes slide-in {
  from {
    transform: translateY(25px); /* or any other desired effect */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card {
  font-family: "Afacad Flux";
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.card img {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  border-color: #fbbf24;
  box-shadow: 0 0 15px rgba(251, 191, 36, 0.7); 
}

.filters-container {
  display: flex;
  flex-direction: column; /* Stack vertically */
  gap: 10px; /* Space between elements */
  width: 300px; /* Set a fixed width for the container */
}

.filter-input {
  width: 100%; /* Full width of the container */
  padding: 10px; /* Padding for better appearance */
  border: 1px solid #ccc; /* Border styling */
  border-radius: 4px; /* Rounded corners */
}

.filter-button {
  width: 100%; /* Full width of the container */
  padding: 10px; /* Padding for better appearance */
  background-color: #007bff; /* Button color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.filter-button:hover {
  background-color: #002f61; /* Darker shade on hover */
}


.card:hover img {
  transform: scale(1.03);
}

#filters-menu {
  padding-bottom: 15px;
  margin-bottom: 20px;  
  margin-top: -10px;
}

.filter-section {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 540px) {
  nav span{
    display: none;
  }
  nav{
    padding: 0 20px;
  }
  nav .logo-text{
    font-size: larger;
    display: none;
    }
  .mb-4 {
    margin-bottom: 5px;
  }
  #filters-menu {
    border-bottom: 2px solid rgba(214, 214, 214, 0.616);
    padding-bottom: 25px;
    margin-bottom: 25px;  
    margin-top: -15px;
  }
  .h-64 {
    height: 8rem;
}

}

@media (min-width: 768px) {
  .container {
      max-width: 1068px;
  }

}

@media (min-width: 1024px) {
  .container {
      max-width: 1324px;
      padding:10px
  }
}

@media (min-width: 1536px) {
  .container {
      max-width: 1536px;
  }
}