<header class="bg-gray-800 text-white p-4">
  <nav class="container mx-auto">
    <ul class="flex space-x-4">
      <li><%= link_to 'Cars', cars_path, class: 'hover:text-gray-400' %></li>
      <li><%= link_to 'Favourites', favourites_path, class: 'hover:text-gray-400' %></li>
    </ul>
  </nav>
</header>